.field {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.17em;
  font-weight: bold;
  background: #FFFAE9;
  color: #3E4543;
  margin: 1rem 0;
  width: 100%;
  height: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.editField {
  width: 50%;
}

.newQuestionForm {
  padding: 2rem 10rem;
  background: #FBFAF5;
  border: 2px solid #FBD7D3;
  width: 25%
}

.editQuestionForm {
  padding: 2rem 10rem;
  background: #FBFAF5;
  border: 2px solid #FBD7D3;
  width: 50%
}

.formButtonGroup {
  margin-left: 2rem;
}

.button {
  font-size: 1rem;
  padding: .7rem;
  border-radius: .5rem;
  color: white;
  background: #1B7688;
}

.submitButton {
  width: 10%;
  margin-left: 1rem;
}
.editButton {
  background: #FFCE1E;
  width: 10%;
}

.deleteButton {
  background: #F3786D;
  width: 10%;
  margin-left: 1rem;
}

.cancelButton {
  background: #45AD8F;
  margin-right: 1rem;
}
